/*===============================
  ===============================
  GENERAL
  ===============================
  ===============================*/

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

figure {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/*===============================
	1.0.0 Solo Normalize CSS
  ===============================*/
  
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

button,
[role="button"] {
  cursor: pointer;
}

button {
    align-items: flex-start;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-style: 0;
    border-color: transparent;
}

button:focus {
	outline: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'design-08-icons';
  src:  url('../fonts/design-08-icons.eot?4yofe3');
  src:  url('../fonts/design-08-icons.eot?4yofe3#iefix') format('embedded-opentype'),
    url('../fonts/design-08-icons.ttf?4yofe3') format('truetype'),
    url('../fonts/design-08-icons.woff?4yofe3') format('woff'),
    url('../fonts/design-08-icons.svg?4yofe3#design-08-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'design-08-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e913";
}
.icon-arrow-right2:before {
  content: "\e916";
}
.icon-carret-left:before {
  content: "\e917";
}
.icon-check2:before {
  content: "\e918";
}
.icon-comment2:before {
  content: "\e919";
}
.icon-download2:before {
  content: "\e91a";
}
.icon-events-double-arrow-left2:before {
  content: "\e91b";
}
.icon-events-double-arrow-right2:before {
  content: "\e91c";
}
.icon-events-single-arrow-left2:before {
  content: "\e91d";
}
.icon-events-single-arrow-right2:before {
  content: "\e91e";
}
.icon-facebook:before {
  content: "\e91f";
}
.icon-filter:before {
  content: "\e920";
}
.icon-listen2:before {
  content: "\e921";
}
.icon-map2:before {
  content: "\e922";
}
.icon-play-icon-2:before {
  content: "\e923";
}
.icon-play-icon:before {
  content: "\e924";
}
.icon-radio-circle2:before {
  content: "\e925";
}
.icon-search-icon:before {
  content: "\e926";
}
.icon-twitter2:before {
  content: "\e927";
}

body {
    background: #FFFFFF;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }

  :root {
    --primary-regular: #F91C4C;
    --primary-light: #F93660;
    --nav-hover: #F93660;
  } 

  .lines {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    z-index: -2;
  }

  .line {
    border-left: 1px solid rgba(0,0,0, 0.09);
  }

/*===============================
===============================
HOMEPAGE
===============================
===============================*/

/*===============================
  Header
===============================*/

/* ======= header - Mobile+ ======= */

.primary-header {
  /* position: absolute; */
	z-index: 2;
  background-color: #121212;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-moz-box-pack: justify;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 11px;
}

/* Logo */

.logo {
    max-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 24px;
    margin-bottom: 21px;
}

.logo img {
    max-width: 120px;
    max-height: 40px;
}

/* Hamburger */

.overflow-hidden {
	overflow: hidden;
}

  .menu-icon {
	cursor: pointer;
	padding: 10px;
}

.icon-bar-1,
.icon-bar-2 {
	background-color: #FFFFFF;
	display: block;
	opacity: 0.86;
	height: 3px;
	-ms-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-ms-transition-property: transform, width;
	-webkit-transition-property: transform, width;
	transition-property: transform, width;
}

.icon-bar-1 {
	width: 20px;
}

.icon-bar-2 {
	width: 20px;
	margin-top: 0.3125rem;
}

.active .icon-bar-1 {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.active .icon-bar-2 {
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	width: 20px;
	margin-top: -3px;
}

/* Navigation */

.navigation {
  display: block;
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #4E4E4E;
  margin: 62px 0 0;
  padding: 20px 22px;
	line-height: 2.8;
  background : #F7F7F7;
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	transition-property: transform, -webkit-transform;
	-ms-transform: translateX(-2000px);
	-webkit-transform: translateX(-2000px);
  transform: translateX(-2000px);
  z-index: 10;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.open .navigation {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.child-menu {
  line-height: 2.4;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
}

.child-menu ul {
  font-size: 18px;
  padding-left: 20px;
  color: rgba(78, 78, 78, 0.7);
  text-transform: uppercase;
}

.child-menu ul ul {
  line-height: 2.1;
  font-style: italic;
  text-transform: lowercase;
}

.navigation a:hover {
  color: var(--nav-hover);
}

.nav-area-desktop /* Hides Desktop nav */{
  display: none;
}
/* ======= End Header - Mobile+ ======= */


/* ======= header - Tablet+ ======= */

@media (min-width: 768px) {

  .primary-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Logo - Tablet */
  .logo {
    max-height: 60px;
    margin-top: 27px;
    margin-bottom: 24px;
  }

  .logo img {
    max-width: 200px;
    max-height: 60px;
  }

  .navigation {
    margin: 80px 0 0;
  }
}

/* =======  Header - Desktop+ ======= */

@media (min-width: 992px) {
  .primary-header {
    position: relative;
    align-items: stretch;
  }

  /* Navigation - Desktop */

  .nav-area-mobile {
    display: none;
  }

  .nav-area-desktop {
    display: flex;
    line-height: 0;
  }

  .navigation-desktop {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.8px;
    flex-grow: 1;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    margin-right: 12px;
  }

  .navigation-desktop li {
    display: flex;
  }

  .navigation-desktop > li a {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  .navigation-desktop > li,
  .navigation-desktop > li:last-child {
    position: relative;
  }

  .navigation-desktop > li ul {
    width: 200px;
    position: absolute;
    top: 100%;
    background: #F6F6F4;
    color: #3B3B3B;
    letter-spacing: 1.2px;
    line-height: 2;
    padding: 11px 5px;
    /* Hide dropdown on load*/
    display: none;
  }

  .navigation-desktop > li:hover ul /* Brings dropdown on hover */{
    display: block;
  }

  .navigation-desktop > li:last-child ul {
    position: absolute;
    right: 0%;
  }

  .navigation-desktop > li ul > li {
    line-height: 1.5;
  }

  .navigation-desktop > li ul > li ul,
  .navigation-desktop > li ul > li:nth-child(2n) ul {
    position: relative;
  }

  .navigation-desktop > li ul > li ul {
    width: 140px;
    position: absolute;
    top: 43.5%;
    opacity: 0.9;
    text-transform: capitalize;
    /* Hide dropdown on load*/
    display: none !important;
  }

  .navigation-desktop > li ul > li:hover ul /* Brings dropdown on hover */ {
    display: block !important;
  }

  .navigation-desktop > li ul > li ul {
    position: absolute;
    left: 98%;
  }

  .navigation-desktop > li:last-child ul > li:nth-child(2n) ul {
    position: absolute;
    top: 19%;
    right: 100%;
    left: -69%;
    z-index: -1;
  }

  .navigation-desktop li:hover {
    color: var(--primary-light);
  }

  /* Search - Desktop */
  .search-btn {
    padding-right: 10px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-btn .icon-search-icon,
  .search-btn .icon-close {
    font-family: 'design-08-icons';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }

  .search-btn:before {
    content: '|';
    color: var(--primary-regular);
    font-size: 29px;
    position: relative;
    top: 1px;
    right: 0;
  }

  .search-btn .icon-close {
    display: none;
  }

  .close-icon .icon-search-icon {
    display: none;
  }

  .close-icon .icon-close {
    display: block;
  }

  .search-area {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 80px);
    background: #fff;
    display: flex;
    justify-content: center;
    /* Hides search Bar */
    display: none;
  }

  .search-open /* Shows search Bar */{
    display: flex;
  }

  .search-container {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-form {
    flex-basis: 98%;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', Helvetica, sans-serif;
    font-style: none;
  }

  .search-form label {
    align-self: center;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    color: rgba(18, 18, 18, 0.1)
  }

  .search-form input {
    /* Normalize input */
    -webkit-appearance: textfield;
    background-color: transparent;
    border: 0px solid transparent;
    text-rendering: auto;
    background: transparent;
    text-align: center;
    outline: none;
    border-bottom: 1px solid rgba(18, 18, 18, 0.7);
    height: 50px;
    font-size: 26px;
  }

  .search-form label::after {
    font-family: 'design-08-icons';
    font-size: 24px;
    content: "\e926";
    display: flex;
    position: absolute;
    left: 21%;
    bottom: 42%;
    color: rgba(18, 18, 18, 0.7)
  }

  .search-form
  input::placeholder {
    text-align: center;
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: rgba(59, 59, 59, 0.2);
  }

  /* ======= End  Header - Desktop+ ======= */
}

/*===============================
    End Header
  ===============================*/

.main-relative {
  position: relative;
}

  /*===============================
    Banner
  ===============================*/

  /* ======= Banner - Mobile+ ======= */

  .banner {
    height: 525px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 44px;
    padding: 
  }

  .background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .dark-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    content: '';
    position: absolute;
    z-index: -1;
  }

  .square-bg {
    background: url(../svg/svg-pattern-hero.svg) no-repeat;
    position: absolute;
    top: 6%;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 55%;
    background-position: bottom right;
    opacity: 0.6;
    z-index: -1;
  }

  .banner h1,
  .banner h2,
  .banner p {
    margin: 0;
  }

  .banner h1 {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px; 
  }

  .banner p {
    font-size: 14px;
    line-height: 27px;
    opacity: 0.74;
    padding-top: 22px;
    /* padding-bottom: 170px; */
  }

  .service-times {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 72px;
  }

  .service-times h2 {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.2px;
    line-height: 25px;
  }

  .service-times span {
    color: var(--primary-regular);
  }

/* ======= End Banner - Mobile+ ======= */


/* ======= Banner - Large Mobile+ ======= */

@media (min-width: 480px) {

  .baaner h1,
  .banner p {
    padding-right: 25%;
  }

  .service-times {
    padding-left: 16px;
    padding-right: 16px;
  }

  .service-times h2 {
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 25px;
  }
}


/* =======  Banner - Tablet+ ======= */

@media (min-width: 768px) {
  .banner {
    height: 594px;
    align-content: center;
  }

  .baaner h1,
  .banner p {
    padding-right: 40%;
  }

  .square-bg {
    background-size: 36%;
  }

  .banner h1 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 10px; 
  }

  .banner p {
    font-size: 15px;
    padding-top: 27px;
  }

  .service-times {
    position: absolute;
    bottom: 0;
    left: 42%;
    right: 0px;
    padding-left: 34px;
    padding-right: 53px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 55%;
    height: 86px; 
    display: flex;
    align-items: center;
  }

  .service-times h2 {
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 25px;
  }
}

/* =======  Banner - Desktop+ ======= */

@media (min-width: 992px) {

  .banner {
    height: 630px;
    padding: 60px;
  }

  .banner h1 {
    padding-right: 25%;
    font-size: 65px;
  }

  .banner p {
    padding-right: 60%; 
    font-size: 18px;
    line-height: 33px;
    opacity: 0.5;
    padding-top: 35px;
  }

  .service-times {
    left: 45%;
    height: 97px;    
  }

  .service-times h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 27px;
  }
}

/* =======  Main Content - Large Desktop+ ======= */

@media (min-width: 1200px) {
  .service-times {
    padding-left: 48px;
  }
}


/*===============================
  Main Content
===============================*/ 
  
/* ======= Main Content - Mobile+ ======= */

.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;;
}

  .invite h1,
  .invite p {
    margin: 0;
    font-style: none;
  }

  .invite {
    margin-top: -40px;
    margin-bottom: 56px;
  }

  .img-wrapper {
    /* border: 13px solid #fff; */
    background: #fff;
    padding: 13px;
    max-width: 420px;
    width: 100%;
  }

  .bg-imgva {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }

  .bg-imgva img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 

  /* Where */
  .where h2,
  .where p {
    margin: 0;
  }

  .where {
    padding-top: 55px;
  }

  .address h2 {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.9;
  }

  .address p {
    font-size: 14px;
    line-height: 27px;
    opacity: 0.63;
    padding-bottom: 16px;
  }

  .map {
    background: #262626;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map iframe {
    height: 70px;
  }

  .map a {
    align-self: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  /*  Page Feeds - Mobile+ */

  .page-feeds {
    margin-bottom: 54px;
  }

  .page-feeds h1,
  .page-feeds p {
    margin: 0;
  }

  .feed-1,
  .feed-2 {
    position: relative;
    max-width: 420px;
    width: 100%;
  }

  .feed-1 {
    margin-bottom: 53px;
  }

  .feed-content {
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    position: relative;
  }

  .feed-content h1 {
    font-size: 18px;
    letter-spacing: 1.6px;
    width: 50%;
  }

  .feed-content h1:before {
    font-family: "Teko", Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 500;
    letter-spacing: 5px;
    content: "02";
    color: rgba(0,0,0,0.02);
    position: absolute;
    bottom: -38px;
    left: -20px;
    z-index: -3;
  }

  .feed-content p {
    font-size: 14px;
    letter-spacing: 1.4px;
    position: relative;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center; 
    color: var(--primary-light);
  }

  .feed-content p span {
    content: "|";
    position: absolute;
    top: 18px;
    right: 0px;
    width: 36px;
    height: 1px;
    background: var(--primary-light);
  }

  .feed-2 .content-2 h1:before {
    content: "03";
  }

  .cover-link {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    opacity: 0.1;
    z-index: 2;
  }

  /* .feed-1:hover .feed-content p,
  .feed-2:hover .feed-content p  {
    
  }

  .feed-1:hover .feed-content p span,
  .feed-2:hover .feed-content p span {
    
  } */


  /*  Recent Sermons - Mobile+ */

  .recent-sermon {
    /* background: green; */
  }

  .recent-sermon .img-container {
    height: 215px;
    margin-left: -15px;
    margin-right: 15px;
    position: relative;
  }

  .recent-sermon .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recent-sermon .play-icon {
    position: absolute;
    top: 50%;
    left: 25%;
  }

  .recent-sermon .icon-play-icon {
    font-family: 'design-08-icons', sans-serif;
    font-size: 16px;
    color: var(--primary-regular);
  }



  /* Recent Sermon Content */
  .recent-sermon-content {
    margin-right: -15px;
    margin-left: 15px;
    height: 215px;
    padding: 30px;
    color: rgba(255,255,255,0.97);
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .recent-sermon-content p,
  .recent-sermon-content h1 {
    margin: 0;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
  }

  .recent-sermon-content .snippet {
    display: none;
  }

  .recent-sermon-content .meta {
    font-size: 14px;
    letter-spacing: 2px;
  }

  .recent-sermon-content h1 {
    font-size: 26px;
    letter-spacing: 2.5px;
    padding-top: 15px;
  }

  /* Avatar */
  .recent-sermon-content .avatar {
    display: flex;
    align-items: center;
  }

  .avatar-container {
    width: 27px;
    height: 27px;
  }

  .avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  .avatar .speaker {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 11px;
  }





/* ======= Main Content - Large Mobile+ ======= */
@media (min-width: 480px) {
  
  .invite {
    background: #fff;
    display: flex;
    justify-content: space-between;
  }

  /* Where */
  .where {
    padding-top: 15px;
    border: 13px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .address h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.9;
  }

  .address p {
    font-size: 15px;
    line-height: 28px;
    padding-bottom: 0px;
    padding-top: 2px;
  }

  .map {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    flex-direction: row;
  }

  .map iframe {
    width: 60%;
  }

  .map a {
    width: 100%;
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*  Page Feeds - Large Mobile+ */

  .feed-1,
  .feed-2 {
    margin-left: auto;
    margin-right: auto;
  }

}

/* =======  Main Content - Tablet+ ======= */

@media (min-width: 768px) {
  .main-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .invite {
    margin-top: -86px;
    margin-bottom: 87px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: inherit;
  }

  .img-wrapper {
    max-width: 336px;
    width: 100%;
  }

  /* Where */
  .where {
    margin-top: 100px;
    justify-content: flex-end;
    padding-top: 0px;
    padding-left: 34px;
    border: none;
  }

  .address h2 {
    font-size: 34px;
    letter-spacing: 2.4px;
  }

  .address p {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 0px;
    padding-top: 2px;
  }

  .map {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 25px;
    min-width: 426px;
  }

  .map iframe {
    width: 70%;
  }

  .map a {
    font-size: 12px;
  }

  /*  Page Feeds - Tablet */

  .page-feeds {
    display: flex;
    justify-content: space-between;
  }

  .feed-1,
  .feed-2 {
    max-width: 310px;
    margin-left: 0;
    margin-right: 0;
  }

  .feed-1 {
    margin-bottom: 0px;
    order: 1;
  }

  .feed-2 {
    order: 0;
    padding-top: 112px;
    /* padding-top: 0px; */
  }

  .feed-content {
    padding-top: 28px;
  }

  .feed-content h1 {
    font-size: 20px;
    letter-spacing: 1.8px;
    line-height: 26px;
    /* font-weight: 400; */
  }

  .feed-content h1:before {
    font-size: 250px;
    letter-spacing: 5px;
    bottom: 21px;
    left: -44px;
  }

  .feed-content p {
    width: 37%;
  }
}

/* =======  Main Content - Desktop+ ======= */

  @media (min-width: 992px) {
    .main-container {
      width: 970px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .invite {
      margin-top: -97px;
      margin-bottom: 97px;
      background: transparent;
      display: flex;
      justify-content: flex-start;
    }
  
    .img-wrapper {
      max-width: 400px;
    }

    /* Where */
    .where {
      margin-top: 115px;
      padding-top: 0px;
      padding-left: 80px;
      padding-bottom: 15px;
      border: none;
      justify-content: flex-end;
    }
  
    .address h2 {
      font-size: 60px;
      letter-spacing: 3px;
    }
  
    .address p {
      font-size: 18px;
      line-height: 33px;
      padding-bottom: 7px;
      padding-top: 9px;
      margin-right: 15%;
    }
  
    .map {
      min-width: 430px;
    }
  
    .map iframe {
      width: 70%;
    }
  
    .map a {
      font-size: 12px;
    }

  /*  Page Feeds - Desktop */

  .feed-1,
  .feed-2 {
    max-width: 410px;
  }

  .feed-content h1 {
    font-size: 22px;
  }

  .feed-content p {
    font-size: 15px;
    width: 28%;
  }

}

  
/* =======  Main Content - Large Desktop+ ======= */

@media (min-width: 1200px) {

  .main-container {
    width: 1120px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .img-wrapper {
    max-width: 440px;
  }

  .invite {
    margin-bottom: 110px;
  }

  .where {
    padding-left: 125px;
  }

  .map {
    min-width: 435px;
  }

  /*  Page Feeds - Large Desktop */

  .page-feeds {
    display: flex;
    justify-content: space-between;
  }

  .feed-1,
  .feed-2 {
    max-width: 414px;
  }

  .feed-2 {
    padding-top: 182px;
  }

  .feed-content {
    padding-top: 32px;
  }

  .feed-content h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
  }

  .feed-content h1:before {
    font-size: 300px;
    letter-spacing: 10px;
    bottom: 11px;
  }

  .feed-content p {
    width: 28%;
    font-weight: 400;
  }

}

/* =======  Main Content - Super Large Desktop+ ======= */

@media (min-width: 1600px) { 
  .super-big-container {
    width: 1440px;
    margin: 0 auto;
  }
}



  